<%= form_with model: @cinemas do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <div>
        <%= f.label :year %>
        <%= f.text_area :year %>
    </div>

    <%= f.submit 'submit_cinema' %>
<% end %>