<h1>Cinema</h1>

<% @cinema.each do |cinema| %>
    <h2><%= cinema.name %></h2>
    <h3><%= cinema.year %></h3>
    <%= cinema.formatted_created_at %>
    <%= link_to "edit", edit_cinema_path(film) %>
    <%= link_to "show", cinema_path(cinema) %>
    <%= link_to "destroy", film_path(cinema), data: {method: :delete, confirm: "Вы точно хотите удалить?"} %>
<% end %>