<h1>new_films</h1>
<%= form_with model: @films do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>

<% end %>